@use '../../../styles/mixins' as m;
@use '../../../styles/tokens' as t;

.dry {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 88rem;
    margin: 0 auto;
    gap: 1.5rem;
}

.drySignoff {
    @include m.cycle-display;

    margin: 0;
    font-size: t.$font-size-section-title;
    text-align: center;
}
